{% extends 'base.html' %}
{% block content %}

<!--<section class="text-gray-600 body-font">-->
<!--	<div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">-->
<!--		<div class="text-center lg:w-2/3 w-full">-->
<!--			<h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">-->
<!--				Upload the Book-->
<!--			</h1>-->
<!--			<form method="POST" enctype="multipart/form-data">-->
<!--
	{% csrf_token %}-->
<!--				<div class="bg-gray-100 flex flex-col" style="border-radius: 10px;">-->
<!--					<span class="text-black bg-white-500 border-0 py-2 px-6 rounded text-sm" style="padding-bottom: 40px;">-->
<!--						Title: {{ form.title }}-->
<!--					</span>-->
<!--					<span class="text-black bg-white-500 border-0 py-2 px-6 rounded text-sm" style="padding-bottom: 40px;">-->
<!--						{{ form.file }}-->
<!--					</span>-->
<!--					<span class="text-black bg-white-500 border-0 py-2 px-6 rounded text-sm" style="padding-bottom: 40px;">-->
<!--						Index: {{ form.index }}-->
<!--					</span>-->
<!--					<a href="/">-->
<!--						<button type="submit" class="ml-4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" style="margin-top: 30px; margin-bottom: 30px;">-->
<!--							Upload -->
<!--							&lt;!&ndash; <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />-->
<!--							</svg> &ndash;&gt;-->
<!--						</button>-->
<!--					</a>-->
<!--				</div>-->
<!--			</form>-->
<!--		</div>-->
<!--	</div>-->
<!--</section>-->
<!-- component -->
<!--<div class="h-screen w-screen bg-gray-300">-->
	<div class="container mx-auto flex justify-center items-center p-2 m-32">
		<div class="border border-gray-300 p-6 grid grid-cols-1 gap-6 bg-white shadow-lg rounded-lg">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<span class="flex flex-row md:grid-cols-3 gap-5">
					<span class="grid grid-cols-3 gap-2 border border-gray-200 p-5 rounded">
						<span class="flex border rounded bg-gray-300 items-center p-5 gap-5">
							Title: {{ form.title }}
						</span>
						<span class="flex border rounded bg-gray-300 items-center p-5 gap-5">
							{{ form.file }}
						</span>
						<span class="flex border rounded bg-gray-300 items-center p-5 gap-5">
							Index: {{ form.index }}
						</span>
					</span>
				</span>
				<div class="flex justify-center">
					<a href="'/">
						<button class="p-3 m-2 w-gap-5 rounded-md bg-gray-800 text-white">
							Upload
						</button>
					</a>
				</div>
			</form>
		</div>
	</div>
<!--</div>-->
{% endblock content %}