{% extends 'base.html' %}
{% block content %}
<!-- component -->
<!--<div class="h-screen w-screen bg-gray-300">-->
	<h1 class="text-2xl font-medium title-font mb-4 text-gray-600 text-center">If your are new to the website, please refer <a href="{% url 'how-to-use-page'  %}" class="font-bold text-red-600">this!!</a></h1>
	<div class="container mx-auto flex justify-center items-center p-2 m-32">
		<div class="border border-gray-300 p-6 grid grid-cols-1 gap-6 bg-white shadow-lg rounded-lg">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<span class="flex flex-row md:grid-cols-3 gap-5">
					<span class="grid grid-cols-3 gap-2 border border-gray-200 p-5 rounded">
						<span class="flex border rounded bg-gray-300 items-center p-5 gap-5">
							Title: {{ form.title }}
						</span>
						<span class="flex border rounded bg-gray-300 items-center p-5 gap-5">
							{{ form.file }}
						</span>
						<span class="flex border rounded bg-gray-300 items-center p-5 gap-5">
							Index: {{ form.index }}
						</span>
					</span>
				</span>
				<div class="flex justify-center">
					<a href="/">
						<button class="p-3 m-2 w-gap-5 rounded-md bg-gray-800 text-white">
							Upload
						</button>
					</a>
				</div>
			</form>
		</div>
	</div>
<!--</div>-->
{% endblock content %}