{% load static %}
<footer class="p-4 text-gray-400 bg-gray-900 body-font bottom-0 border-t" style = "position: fixed; width: 100%;">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      <img src="{% static 'icon.png' %}" alt="books" style = "width: 80px; height: auto;">          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      <span class="ml-3 text-xl">pdf2audiobook</span>
    </a>
    <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">Built By - 
      <a class="text-gray-500 ml-1" rel="noopener noreferrer">@yashpatel, @ojaspatil, @himanshuvatari</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
          How to use?
      </p>
      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
        <a href="/about_us"> About </a>
      </p>
      <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
        <a href="/contact_us"> Contact </a>
      </p>
    </span>
  </div>
</footer>