{% extends 'base.html' %}
{% block content %}
<section class="yash text-gray-600 body-font" style="display: block; margin-bottom: 185px">
	<div class="container px-5 py-24 mx-auto flex flex-wrap flex-col">
		<div class="flex mx-auto flex-wrap mb-20">

			<button
				class="step-1 cursor-pointer sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none tracking-wider border-indigo-500 text-indigo-500 bg-gray-100 rounded-t">
				STEP 1
			</button>

			<button
				class="step-2 cursor-pointer sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none tracking-wider">
				STEP 2
			</button>

			<button
				class="step-3 cursor-pointer sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none tracking-wider">
				STEP 3
			</button>

			<button
				class="step-4 cursor-pointer sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none tracking-wider">
				STEP 4
			</button>

		</div>

		<div class="flex flex-col text-center w-full step-1-details">
			<h1 class="text-xl font-medium title-font mb-4 text-gray-900 text-3xl">Step 1</h1>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">Write a suitable title for your book in the title field.</p>
			<br>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">Upload the pdf that you wish to 'Audify'.</p>
			<br>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base"></p>
		</div>

		<div class="flex flex-col text-center w-full step-2-details">
			<h1 class="text-xl font-medium title-font mb-4 text-gray-900 text-3xl">Step 2</h1>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">Provide an index if it is a book.</p>
			<br>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">The index has a fixed pattern as follows:</p>
			<br>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">No. of chapters : page range of each chapter separated by commas.</p>
			<br>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">E.g. 4: 4-7, 9-11, 15-17, 21-24</p>
			<br>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">If you want to provide your own index, then enter</p>
			<br>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">1 : 1-last page number of pdf</p>
		</div>

		<div class="flex flex-col text-center w-full step-3-details">
			<h1 class="text-xl font-medium title-font mb-4 text-gray-900 text-3xl">Step 3</h1>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">hii from 3</p>
		</div>

		<div class="flex flex-col text-center w-full step-4-details">
			<h1 class="text-xl font-medium title-font mb-4 text-gray-900 text-3xl">Step 4</h1>
			<p class="lg:w-2/3 mx-auto leading-relaxed text-base">hiii from 3</p>
		</div>

	</div>
</section>

<script>
	$('.step-1-details').show();
	$('.step-2-details').hide();
	$('.step-3-details').hide();
	$('.step-4-details').hide();

	$('.step-1').on('click', function () {
		// showing proper content
		$('.step-1-details').show();
		$('.step-2-details').hide();
		$('.step-3-details').hide();
		$('.step-4-details').hide();

		// proper css classes
		$('.step-1').addClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t focus:outline-none");
		$('.step-2').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-3').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-4').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
	});
	$('.step-2').on('click', function () {
		// showing proper content
		$('.step-1-details').hide();
		$('.step-2-details').show();
		$('.step-3-details').hide();
		$('.step-4-details').hide();

		// proper css classes
		$('.step-1').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-2').addClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t focus:outline-none");
		$('.step-3').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-4').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
	});
	$('.step-3').on('click', function () {
		// showing proper content
		$('.step-1-details').hide();
		$('.step-2-details').hide();
		$('.step-3-details').show();
		$('.step-4-details').hide();

		// proper css classes
		$('.step-1').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-2').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-3').addClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t focus:outline-none");
		$('.step-4').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
	});
	$('.step-4').on('click', function () {
		// showing proper content
		$('.step-1-details').hide();
		$('.step-2-details').hide();
		$('.step-3-details').hide();
		$('.step-4-details').show();

		// proper css classes
		$('.step-1').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-2').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-3').removeClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t");
		$('.step-4').addClass("border-indigo-500 text-indigo-500 bg-gray-100 rounded-t focus:outline-none");
	});
</script>

{% endblock content %}