{% extends 'base.html' %}
{% block content %}
<section class="text-gray-600 body-font">
    <div style="background-image: url('./static/BOOK_BG.png'); background-repeat: no-repeat; background-attachment: fixed;
                background-size: 100% 100%;">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="color: white">
            pdf2audiobook
        </h1>
        <p class="mb-8 leading-relaxed" style="color: white">
            This helps you to convert pdf files to audiobook and listen on the go.
        </p>
        <div class="flex justify-center">
          <a href = "#" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
              Editorial
          </a>
          <a href = "{% url 'book-upload' %}" class="ml-4 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
              Books
          </a>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock content %}
